{% extends 'base1.html' %}

{% block content %}
<section>

    <p style="margin-top:70px; color:rgb(153,160,165); margin-left:15px; font-size:14px;">Home / Women / Western Wear /
        <b style="color:black; opacity:0.7;">Tops</b></p>
    <hr style="border-top: 0px solid #8c8b8b; opacity:0.1; margin-left:10px; margin-right:10px;">

    <div class="row no-gutters">
        <div class="col-md-3 no-gutters">
            <div class="left">
                <h6 style="font-size:15px;">Related Categories</h6>
                <span style="color:red; margin-top:-10px; font-size:14px;">Tops</span>

                <hr style="border-top: 0px solid #8c8b8b; opacity:0.1;">
                <h6 data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample" style="font-size:15px;">
                    Clothing Size<i class="fas fa-chevron-down reverse" style="float:right;"></i></h6>
                <div class="collapse" id="collapseExample" style="font-size:12px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-muted" for="flexCheckDefault">
                            XS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                        <label class="form-check-label text-muted" for="flexCheckDefault1">
                            S
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        <label class="form-check-label text-muted" for="flexCheckDefault2">
                            M
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                        <label class="form-check-label text-muted" for="flexCheckDefault3">
                            XL
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                        <label class="form-check-label text-muted" for="flexCheckDefault4">
                            XXL
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                        <label class="form-check-label text-muted" for="flexCheckDefault5">
                            XXXL
                        </label>
                    </div>
                </div>

                <hr style="border-top: 0px solid #8c8b8b; opacity:0.1;">
                <h6 data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                    aria-controls="collapseExample1" style="font-size:15px;">
                    Color Family<i class="fas fa-chevron-down reverse" style="float:right;"></i></h6>
                <div class="collapse" id="collapseExample1" style="font-size:13px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultI">
                        <label class="form-check-label text-muted" for="flexCheckDefaultI">
                            Black
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultII">
                        <label class="form-check-label text-muted" for="flexCheckDefaultII">
                            White
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultIII">
                        <label class="form-check-label text-muted" for="flexCheckDefaultIII">
                            Multicolor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultIV">
                        <label class="form-check-label text-muted" for="flexCheckDefaultIV">
                            Maroon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultV">
                        <label class="form-check-label text-muted" for="flexCheckDefaultV">
                            Red
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultVI">
                        <label class="form-check-label text-muted" for="flexCheckDefaultVI">
                            Pattern
                        </label>
                    </div>
                    <a href="#">View More</a>
                </div>

                <hr style="border-top: 0px solid #8c8b8b; opacity:0.1;">
                <h6 style="font-size:15px;">Price</h6>
                <div class="form-check" style="font-size:13px;">
                    <input class="form-check-input" type="checkbox" value="" id="1000">
                    <label class="form-check-label text-muted" for="1000">
                        Under Rs. 1000
                    </label>
                </div>
                <div class="form-check" style="font-size:13px;">
                    <input class="form-check-input" type="checkbox" value="" id="2000">
                    <label class="form-check-label text-muted" for="2000">
                        Under Rs. 2000
                    </label>
                </div>
                <div class="form-check" style="font-size:13px;">
                    <input class="form-check-input" type="checkbox" value="" id="5000">
                    <label class="form-check-label text-muted" for="5000">
                        Under Rs. 5000
                    </label>
                </div>

                <hr style="border-top: 0px solid #8c8b8b; opacity:0.1;">
                <h6 data-toggle="collapse" href="#brands" role="button" aria-expanded="false"
                    aria-controls="brands" style="font-size:15px;">
                    Brands<i class="fas fa-chevron-down reverse" style="float:right;"></i></h6>
                <div class="collapse" id="brands" style="font-size:13px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="1">
                        <label class="form-check-label text-muted" for="1">
                            Mayra
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="2">
                        <label class="form-check-label text-muted" for="2">
                            Attire
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="3">
                        <label class="form-check-label text-muted" for="3">
                            Nike
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="4">
                        <label class="form-check-label text-muted" for="4">
                            Adidas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="5">
                        <label class="form-check-label text-muted" for="5">
                            Mejiwoo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="6">
                        <label class="form-check-label text-muted" for="6">
                            Forever21
                        </label>
                    </div>
                    <a href="#">View More</a>
                </div>

                <hr style="border-top: 0px solid #8c8b8b; opacity:0.1;">
                <h6 data-toggle="collapse" href="#m" role="button" aria-expanded="false"
                    aria-controls="m" style="font-size:15px;">
                    Fabric<i class="fas fa-chevron-down reverse" style="float:right;"></i></h6>
                <div class="collapse" id="m" style="font-size:13px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="m1">
                        <label class="form-check-label text-muted" for="m1">
                            Polyester
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="m2">
                        <label class="form-check-label text-muted" for="m2">
                            Cotton
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="m3">
                        <label class="form-check-label text-muted" for="m3">
                            Rayon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="m4">
                        <label class="form-check-label text-muted" for="m4">
                            Jeans
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="m5">
                        <label class="form-check-label text-muted" for="m5">
                            Wool
                        </label>
                    </div>
                    <a href="#">View More</a>
                </div>

            </div>
        </div>
        <div class="col-md-9 no-gutters">
            <div class="right">
                <span class="center-align"
                      style="font-size:25px; color:#333; font-family: 'Geo', sans-serif; margin-top:10px; margin-bottom:20px;">
                    WOMEN'S TOPS</span>
                <div class="row no-gutters" style="margin-bottom:5px;">
                    <div class="col">
                        <span class="text-muted" style="margin-left:15px;">Showing 4792 Results</span>
                    </div>
                    <div class="col">
                        <div class="dropdown" style="float:right; margin-right:30px;">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort By: Relevance
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Price(lowest first)</a>
                                <a class="dropdown-item" href="#">Price(highest first)</a>
                                <a class="dropdown-item" href="#">What's New</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    {% for t in tops %}
                    <div class="col-sm-3 mt-3 no-gutters" style="margin-right:0px !important;">
                        <div class="card" style="width: 14rem; height:22rem; margin-bottom:10px; box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.09), 0 2px 4px 0 rgb(0, 0, 0, 0.09);">
                            <a href="{% url 'detail' %}">
                                <div class="inner">
                                    <img class="card-img-top" src="{{ t.image.url }}" alt="Card image cap"
                                     style="width:100%, height:100%; object-fit:cover;">
                                </div>
                            </a>
                            <div class="card-body">
                                <span class="card-title"
                                      style="font-size:16px; font-family: sans-serif; text-align:center; display:block;">{{t.name}}</span>
                                <p class="text-center font-weight-bold" style="margin:-18px; color:#324072;">Rs. {{ t.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <nav aria-label="Page navigation example" style="float:right; margin-right:12px;
                margin-top:10px; margin-bottom:10px;">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>

<!-- Footer -->
<footer class="page-footer font-small bg-secondary" style="background:#324072;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Style Studio</h5>

                <ul class="list-unstyled">
                    <li>
                        <span>Who We Are</span>
                    </li>
                    <li>
                        <span>Join Our Team</span>
                    </li>
                    <li>
                        <span>Terms & Conditions</span>
                    </li>
                    <li>
                        <span>Fees & Payments</span>
                    </li>
                    <li>
                        <span>Returns & Refunds Policy</span>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-3">HELP</h5>

                <ul class="list-unstyled">
                    <li>
                        <span>Track Your Order</span>
                    </li>
                    <li>
                        <span>Frequently Asked Questions</span>
                    </li>
                    <li>
                        <span>Cancellations</span>
                    </li>
                    <li>
                        <span>Customer Care</span>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Follow Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <span><i class="fab fa-facebook" style="margin-right:5px;"></i>Facebook</span>
                    </li>
                    <li>
                        <span><i class="fab fa-instagram" style="margin-right:5px;"></i>Instagram</span>
                    </li>
                    <li>
                        <span><i class="fab fa-twitter" style="margin-right:5px;"></i>Twitter</span>
                    </li>
                    <li>
                        <span><i class="fab fa-pinterest" style="margin-right:5px;"></i>Pinterest</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <!-- Footer Links -->
    <hr style="border-top: 1px solid white;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="/" style="color:#324072;"> StyleStudio.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock content %}